@use "../utils/variables" as *;

.footer {
  background-color: var(--dark-bg-color);
  padding: 60px 0;

  > .container {
    display: flex;
    align-items: baseline;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 20px;

    span {
      color: var(--white-color);
    }
  }

  address {
    font-style: normal;

    p,
    a {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
      transition: color $tr $tf;
    }

    p {
      color: var(--white-color);
      margin-bottom: 9px;
    }

    a:hover,
    a:focus {
      color: var(--accent-color);
    }
  }
}

.footer-address {
  margin-right: 70px;
}

.footer-social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.footer-social {
  .social-links a {
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--white-color);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
}

.footer-subscribe {
  margin-left: auto;
}
