@use "../utils/variables" as *;

.header {
  border-bottom: 1px solid #ECECEC;
  padding: 24px 0;

  > .container {
    display: flex;
    align-items: center;
  }
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 50px;

  .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color $tr $tf;

    &:hover,
    &:focus,
    &.current {
      color: var(--accent-color);
    }
  }
}

.contacts-list {
  display: flex;
  gap: 50px;

  .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color $tr $tf;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
