@use "../utils/variables" as *;

.team {
  background-color: var(--team-bg-color);
}

.team-list {
  display: flex;
  gap: 30px;

  > li {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    flex-basis: calc((100% - 90px) / 4);
    text-align: center;
    transition: transform $tr $tf, box-shadow $tr $tf;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
  }
}

.team-member-info {
  padding: 30px 0;

  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  .role {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;

  a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    fill: #AFB1B8;
    transition: background-color $tr $tf, fill $tr $tf;

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      fill: var(--white-color);
    }
  }
}
