@use "../utils/variables" as *;

.work-list {
  display: flex;
  gap: 30px;

  > li {
    position: relative;
    flex-basis: calc((100% - 60px) / 3);
  }

  li img {
    transition: transform $tr $tf, filter $tr $tf;
  }

  li:hover img {
    transform: scale(1.05);
    filter: brightness(0.8);
  }
}

.work-label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
