@use "../utils/variables" as *;

.primary-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  transition: background-color $tr $tf;

  &:hover,
  &:focus {
    background-color: #188CE8;
  }
}
