@use "../utils/variables" as *;

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
  transition: color $tr $tf;

  span {
    color: var(--logo-black);
  }

  &:hover,
  &:focus {
    color: #188CE8;
  }
}
