@use "../utils/variables" as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  opacity: 1;
  visibility: visible;

  transition:
    opacity $tr $tf,
    visibility $tr $tf;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  width: 100%;
  max-width: 528px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(0) scale(1);
  opacity: 1;

  transition:
    transform $tr $tf,
    opacity $tr $tf;
}

.backdrop.is-hidden .modal {
  transform: translateY(-20px) scale(0.9);
  opacity: 0;
}
