:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196F3;
  --white-color: #FFFFFF;
  --hero-bg-color: #2F303A;
  --team-bg-color: #F5F4FA;
  --dark-bg-color: #2F303A;
  --logo-black: #000000;
}

$tr: 250ms;
$tf: cubic-bezier(0.4, 0, 0.2, 1);
